@font-face {
  font-family: 'Mak-Regular';
  src: url('./fonts/Mak.eot');
  src: url('./fonts/Mak.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Mak.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mak-Bold';
  src: url('./fonts/Mak-bold.eot');
  src: url('./fonts/Mak-bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Mak-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}